form, section>div {
  display: inline-block;
  width: 46%;
  margin: 0 2% 0;
  float: left;
  padding: 30px;
  border: 1px solid #eee;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}
form div, form label {
  float: left;
  clear: both;
  width: 100%;
}
form>div {
  padding: 5px 0;
}
form ul {
  max-height: 200px;
  overflow: auto;
}
form ul>li {
  cursor: pointer;
  padding: 3px 0;
  float: left;
  margin-right: 15px;
  font-size: 18px;
}
form ul>li:before, form ul>li.added:before {
  font-family: 'fontAwesome';
  content: "\f055";
  margin-right: 5px;
  color: #ccc;
}
form ul>li.added:before {
  content: "\f058";
  color: #00A000;
}
